body {
  font-size: 16px;
  color: #111;
  background-color: lightyellow;
  font-family: 'Oxygen', sans-serif;
}

/*   HEADER */
#header-nav{
	background-color: lightblue;
	border: 0;
	border-radius: 0;
	padding-bottom: 30px;
}


.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /* Name*/
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a: hover, .navbar-barand a:focus{
	text-decoration: none;
}


#nav-list {
	margin-top: 10px;
}

#nav-list a{
	color: #557c3e;
	text-align: center;
	font-weight: bold;
}

#nav-list a:hover {
	background:#E7E7E7;
}




.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle{ /*to prevent floating effect
not to reduce the area of header ac to button area */
	clear: both;
	margin-top: -30px;
}

/* END HEADER */

/* home page */


#home-tiles {
	border: 2px solid #3F0C1F;
	background-color: lightblue;
}

/*End home page*/

